<div class="webkite-applied-filters">
    <a class="webkite-toggle" href="#{{this.id}} data-id=""{{this.id}}" data-target=".filter-menu">filters <b>&#10010</b></a>
    <ul class="filter-menu webkite-hide">
      <li><a href="#">Department</a>
        <ul class="filter-menu-child">
      		<li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".filter-menu" data-facet="Customer" data-operator="is">Customer</a></li>
      		<li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".filter-menu" data-facet="Development" data-operator="is">Development</a></li>
      		<li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".filter-menu" data-facet="Executive" data-operator="is">Executive</a></li>
      		<li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".filter-menu" data-facet="Office" data-operator="is">Office</a></li>
      		<li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".filter-menu" data-facet="Sales" data-operator="is">Sales</a></li>
      	</ul>
    	</li>
    	<li><a href="">Option Two</a>
      	<ul class="filter-menu-child">
      		<li><a href="">Blah</a></li>
      		<li><a href="">Dee</a></li>
      		<li><a href="">Bleh</a></li>
      		<li><a href="">Doo</a></li>
      		<li><a href="">Blee</a></li>
      		<li><a href="">Blah</a></li>
      		<li><a href="">Dee</a></li>
      		<li><a href="">Bleh</a></li>
      		<li><a href="">Doo</a></li>
      		<li><a href="">Blee</a></li>
      	</ul>
    	</li>
    	<li><a href="">Option Two</a>
    	<ul class="filter-menu-child">
    		<li><a href="">Blah</a></li>
    		<li><a href="">Dee</a></li>
    		<li><a href="">Bleh</a></li>
    		<li><a href="">Doo</a></li>
    		<li><a href="">Blee</a></li>
    		<li><a href="">Blah</a></li>
    		<li><a href="">Dee</a></li>
    		<li><a href="">Bleh</a></li>
    		<li><a href="">Doo</a></li>
    		<li><a href="">Blee</a></li>
    		<li><a href="">Blah</a></li>
    		<li><a href="">Dee</a></li>
    		<li><a href="">Bleh</a></li>
    		<li><a href="">Doo</a></li>
    		<li><a href="">Blee</a></li>
    	</ul>
    	</li>
    </ul>
  <div class="current-filters">
  {{#each filterGroups}}
  <div class="filter-group-{{@index}}">
    {{#each filters}}
      <a href="#" class="webkite-remove-filter" data-facet="{{this.facet}}" data-operator="{{this.operator}}" data-value="{{this.value}}">{{this.facet}}<!-- <b>x</b> --></a> <span>{{#unless @last}} or {{/unless}}</span>
    {{/each}}      
  </div>
  <span>{{#unless @last}} & {{/unless}}</span>
{{/each}}
  <a href="#" class="webkite-clear-filters">x</a>
  </div>
</div>
