{{ log this}}
<div class="webkite-title-area"><h1>Contact List Landscape Card</h1></div>
<header class="webkite-results-header">
  <div class="webkite-sort-area">{{>sorts this.sort}}</div>
  <div class="webkite-filter-area">{{>filters this.filters}}</div>
</header>

{{#each this.items}}
<section class="webkite-result">
	<div class="webkite-block forty">
	  <img src="http://placehold.it/400x400"/>
	  <h2>
	    {{#facet name="First Name"}}{{displayValue}}{{/facet}} {{#facet name="Last Name"}}{{displayValue}}{{/facet}}
	   </h2>
	</div><!--webkite-block-forty-->
	<div class="webkite-block sixty">
  	<ul>
  	  <li>
  	    <b>Home Address</b>
        <a target="_blank" href="http://maps.google.com/?q={{#facet name='Address 1'}}{{displayValue}}{{/facet}} {{#facet name='City'}}{{displayValue}}{{/facet}} {{#facet name='State'}}{{displayValue}}{{/facet}} {{#facet name='Zip Code'}}{{displayValue}}{{/facet}} {{#facet name='Country'}}{{displayValue}}{{/facet}}">
        {{#facet name="Address 1"}}{{displayValue}}{{/facet}}
        {{#if (equals "Address 2")}}<br>{{#facet name="Address 2"}}{{displayValue}}{{/facet}}{{/if}}<br>
        {{#facet name="City"}}{{displayValue}}{{/facet}}, {{#facet name="State"}}{{displayValue}}{{/facet}}
        {{#facet name="Zip Code"}}{{displayValue}}{{/facet}}
        </a>
      </li>
      <li>{{#facet name="Email"}}
  	    <b>{{name}}</b>
        <a href="mailto:{{displayValue}}">{{displayValue}}</a>
      </li>{{/facet}}
      <li>{{#facet name="Phone Number"}}
  	    <b>{{name}}</b>
        <a href="tel:{{displayValue}}">{{displayValue}}</a>
      </li>{{/facet}}
  	</ul>
  	<div id="{{this.id}}" class="webkite-item-details">
    	<ul>
      {{#each facets}}
      {{#unless (equals name "First Name" "Last Name" "Email" "Address 1" "Address 2" "City" "State" "Zip Code" "Country" "Phone Number")}}
    	<li><b>{{name}}</b> <span>{{displayValue}}</span></li>
    	{{/unless}}
      {{/each}}
    </ul>
  	</div><!-- webkite-item-details -->
	</div><!--webkite-block sixty-->
  <footer class="webkite-result-footer">
    <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler more-button" data-target=".{{this.id}}-toggler" data-animate="200ms">more</a>
  <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler webkite-hide less-button" data-target=".{{this.id}}-toggler" data-animate="200ms">less</a>
  </footer>
</section>
{{/each}}

<footer class="webkite-results-footer">
  <div class="webkite-branding-area"><a href="http://webkite.com">{{image "branding.svg" height="45" width="136"}}</a></div>
  <div class="webkite-pagination-area">{{>paginator pagination}}</div>
</footer>