{{log this}}

{{>paginator pagination}}

<section class="wk-result">
{{#each this.items}}
	<div class="forty">
	  <h2>
	    {{#with (facet name="Name")}}{{displayValue}}{{/with}}
	   </h2>
	</div><!--forty-->
	<div class="sixty">
	<ul>
	  {{#each facets}}
	  {{#unless (equals name "Name")}}
		<li>{{name}}</li>
		{{#if (equals name "Number")}}
		  <li><a href="tel:{{displayValue}}">{{displayValue}}</a></li>
		  {{else}}
      <li>{{displayValue}}</li>
		{{/if}}
		{{/unless}}
    {{/each}}
	</ul>
	</div><!--sixty-->
{{/each}}
</section>